/* Set default margin, set font, and background color for the body */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181717
  }
  /* Styling for the navigation bar */
  .topnav {
    overflow: hidden;
    background-color:  #979191;
  }
  /* Styles for navigation links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Styles for active/hover states of navigation links, designed by kabir,sources:w3schools */
  .topnav a:hover {
    background-color: #979191;
    color: black;
  }
  
  .topnav a.active {
    background-color: #979191;
    color: white;
  }
  /* Hide icon initially for responsive design */
  .topnav .icon {
    display: none;
  }
  /* Styles for the company logo */
  .logo {
    max-width: 50px; 
    height: auto;
    vertical-align: middle;
  }
  /* Styling for the main content container */
  .first {
    color: rgb(11, 10, 10);
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    text-align: justify
  }
  /* Styles for the content within the container */
  .content {
     /* Adjust the max-width as needed */
    text-align: center;
  }
  /* Styling for the text box within the content */
  .text-box {
    padding: 20px;
    background-color: rgba(163, 167, 166, 0.7); /* Box background color */
    border-radius: 10px;
   
  }
  /* Styles for text within the text box */
  .text {
    margin-bottom: 20px;
  }
  
  .text h2 {
    margin-top: 0;
  }
  /* Styles for learn more box within the text */
  .text a {
    text-decoration: none;
    background: #a3a7a6;
    padding: 14px 40px;
    color: #161515;
    font-size: 18px;
    border-radius: 30px;
    display: inline-block;
    Text-align: Justify 
  }
  /*hover for learn more box designed by kabir,sources:w3schools */ 
  .text a:hover {
    background-color: #848888;/* Change the background color on hover */
  }
  
.p {
    text-align: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
  }

/* Updated styles for responsiveness at different screen sizes */
@media screen and (max-width: 768px) {
  .content {
    max-width: 90%;
  }

  .text-box {
    margin-right: 0;
  }

  .text {
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .text-box {
    padding: 15px;
  }

  .text a {
    padding: 12px 30px;
    font-size: 16px;
  }
}
  
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/* Gallery styles */
  .gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  /* Styles for individual images in the gallery */
  div.gallery {
    border: 1px solid #ccc;
  }
 /* hovering designed by kabir */ 
  div.gallery:hover {
    border: 1px solid #777;
  
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
   
  }
  /* Styles for image description */
  div.desc {
    padding: 15px;
    color: white;
    text-align: center;
  }
  .desc h2 a {
    color: white;

  }
  /* Styles for image description */
  * {
    box-sizing: border-box;
  }
  /* Responsive design for image gallery */
  .responsive {
    padding: 5px 15px 25px;
    align-items: center;
    float: left;
    width: 26.9999%;
    padding-left: 35px;
    padding-right: 20px;
  
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  /* Clearfix for floated elements */
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
/* Collaborator section styles */
.collaborator {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border: 1px solid #ccc; /* Add border for better visualization */
  padding: 20px; /*  Add padding for better spacing */
  border-radius: 10px; /* Add border-radius for rounded corners */
}

.collabimg {
  flex: 30%; /* Adjust image width */
  max-width: 300px; /* Set maximum width for the image */
  margin-right: 20px; /* Adjust spacing between image and text */
  border-radius: 10px; /* Add rounded corners to images */
  height:auto;
}

.collabtext {
  flex:20%; /* Adjust text width */
}

.collabtext h2 {
  font-size: 24px;
  color: #fcfafa;
  margin-top: 0;
}

.collabtext p {
  font-size: 16px;
  color: white;
  line-height: 1.6;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .collabimg {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .collabtext {
    flex: 0 0 100%;
  }
}
/* Service sections styling */
/* Geodetic survey box section styles */

.Geodectic{
  color: white;
}
.Geodectic h2{
  align-items: center;
}
/* Geodectic container  section styles */
.Geodectic-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border: 1px solid #ccc; /* Add border for better visualization */
  padding: 20px; /*  Add padding for better spacing */
  border-radius: 10px; /* Add border-radius for rounded corners */
}
 
.GSimage{
  flex: 30%; /* Adjust image width */
  max-width: 300px; /* Set maximum width for the image */
  margin-right: 20px; /* Adjust spacing between image and text */
  border-radius: 10px; /* Add rounded corners to images */
  height:auto;
}
 
.Gstext {
  flex:20%; /* Adjust text width */
}
 
.Gstext h2 {
  font-size: 24px;
  color: #fcfafa;
  margin-top: 0;
}
 
.Gstext p {
  font-size: 16px;
  color: white;
  line-height: 1.6;
}
 
/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .GSimage {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
 
  .Gstext {
    flex: 0 0 100%;
  }
}
.serves{
  color: white;
}
.send{
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
 /* hovering on footer designed by kabir,sources: w3schools */
.fa:hover {
  opacity: 0.7;
}
 
.fa-facebook {
background: #3B5998;
color: white;
border-radius: 30%;
}
 
.fa-twitter {
background: #55ACEE;
color: white;
border-radius: 30%;
}
 
.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 30%;
}
 
.fa-yahoo {
  background: #430297;
  color: white;
  border-radius: 30%;
}

  
/* Footer styles */
  .footer{
    padding: 20px;
    text-align: center;
    background-color: #979191;
  }
  
/* Styles for footer list items */
.footer li{
    margin-top: 20px;
    text-align: center;
    color: rgb(5, 5, 5);
    display: inline-block;
    list-style: none;
}
/* Spatial Mapping*/
.Spatial{
  color: white;
  align-items: center;
}
/* Spatialbox section styles */
.Spatial-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  flex-wrap: wrap;
  border: 1px solid #ccc; /* Add border for better visualization */
  padding: 20px; /*  Add padding for better spacing */
  border-radius: 10px; /* Add border-radius for rounded corners */
}

.Simage{
  flex: 30%; /* Adjust image width */
  max-width: 300px; /* Set maximum width for the image */
  margin-right: 20px; /* Adjust spacing between image and text */
  border-radius: 10px; /* Add rounded corners to images */
  height:auto;
}

.stext {
  flex:20%; /* Adjust text width */
}

.stext h2 {
  font-size: 24px;
  color: #fcfafa;
  margin-top: 0;
}

.stext p {
  font-size: 16px;
  color: white;
  line-height: 1.6;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .Simage {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .stext {
    flex: 0 0 100%;
  }
}
.services{
  color: white;
}
.send{
  color: white;
}
/*Mineral Exploration*/
.mineral{
    /* Styling Expertise section with 3 column layout for images and list for information */
.expertise {
  margin: 20px 0;
}
 
.expitem {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding-left: 0%;
 
}
/* styling for images using w3schools */
.column {
  float: left;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  height:auto
}

.row:after {
  content: "";
  clear: both;
  display: table;
}
  
    color: white;
    align-items: center;

}
/*Butoon style*/
.button{
  float: right;
  
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}
